body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.header-content {
    color: white;
    margin-top: 4%;
    padding: 10%;
    text-align: center;

}

.header-content h1 {
    font-size: 60px;
    font-weight: bold;
}

.header-content p {
    padding-bottom: 50px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: tomato;
    padding: 13px;
}

.donate {
    text-align: center;
}

.donate-content {
    color: black;
    padding: 4%;
    text-align: center;
}

.donate-content h1 {
    font-size: 40px;
    font-weight: bold;
}

.donate-content p {
    color: gray;
}

.taka {
    display: flex;
    text-align: center;
    margin: 0px 400px;
}

.same-bg {
    flex: 1;
    font-size: 20px;
    background-color: lightcyan;
    background: #e0ffff57;
    color: gray;
    border-radius: 5px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.tk-200 {
    flex: 1;
    font-size: 20px;
    background-color: lightsalmon;
    background: #ffa07a36;
    color: tomato;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.amount {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

#enter-tk {
    color: gray;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 3px solid #ccc;
    text-align: center;
    margin-bottom: 2%;
}

.donate-now {
    border-radius: 5px;
}

.flex-part {
    display: flex;
    text-align: center;
    margin: 0px 200px;
}

.food {
    flex: 1;
    text-align: left;
    background-color: lightcyan;
    background: #e0ffff69;
    border-radius: 5px;
    padding: 60px 50px 30px 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.shelter {
    flex: 1;
    text-align: left;
    background-color: tomato;
    background: #ff63472b;
    border-radius: 5px;
    padding: 60px 50px 30px 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.education {
    flex: 1;
    text-align: left;
    background-color: orange;
    background: #ffa50029;
    border-radius: 5px;
    padding: 60px 50px 30px 20px;
    margin-left: 10px;
    margin-right: 10px;
}